body{
    background-color: aliceblue;
}

#container{
    background-color: antiquewhite;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px black;
}

#myInteraction{
    padding: 10px;
}